
.DS_Store
Выбираем авто выгодно/catboost_info/learn/events.out.tfevents
Выбираем авто выгодно/catboost_info/catboost_training.json
Выбираем авто выгодно/auto.ru
Выбираем авто выгодно/catboost_info/learn_error.tsv
Выбираем авто выгодно/catboost_info/time_left.tsv
Выбираем авто выгодно/.ipynb_checkpoints/grabber-checkpoint.ipynb
Выбираем авто выгодно/.ipynb_checkpoints/solution-checkpoint.ipynb
Выбираем авто выгодно.zip
отчет.key
Хакатон prev/.ipynb_checkpoints/solution-checkpoint.ipynb
module_1
module_2
module_3
module_4
module_5
module_6
module_7
Хакатон*
